/* WhatsApp Desktop Dark mode by m4heshd */

/* Windows Styles */

:root {
    --darkSlate: #2F4F4F !important;
    --lightSlate: #0b6c5b !important;
    --unread-marker-background : var(--lightSlate) !important;
    --darkerSlate: #0e1717 !important;
    --overlay: rgba(14,23,23, 0.3) !important;
    --dark_alpha: rgba(39, 44, 53, 0.89) !important;
    --darker: #1f232a !important;
    --beige: #e5ddd5;
    --beige-rgb: 229, 221, 213;
    --black: #000;
    --black-rgb: 0, 0, 0;
    --blue: #039BE5;
    --blue-rgb: 3, 155, 229;
    --blue-light: #00A5F4;
    --blue-light-rgb: 0, 165, 244;
    --blue-ocean: #AADAFF;
    --blue-ocean-rgb: 170, 218, 255;
    --blue-sky: #9DE1FE;
    --blue-sky-rgb: 157, 225, 254;
    --dark: #263238 !important;
    --dark-rgb: 38, 50, 56;
    --gray-30: #f7f7f7;
    --gray-30-rgb: 247, 247, 247;
    --gray-60: #f0f0f0;
    --gray-60-rgb: 240, 240, 240;
    --gray-70: #ededed;
    --gray-70-rgb: 237, 237, 237;
    --gray-100: #e6e6e6;
    --gray-100-rgb: 230, 230, 230;
    --gray-150: #d9d9d9;
    --gray-150-rgb: 217, 217, 217;
    --gray-200: #ccc;
    --gray-200-rgb: 204, 204, 204;
    --gray-300: #b3b3b3;
    --gray-300-rgb: 179, 179, 179;
    --gray-400: #999;
    --gray-400-rgb: 153, 153, 153;
    --gray-500: gray;
    --gray-500-rgb: 128, 128, 128;
    --gray-600: #666;
    --gray-600-rgb: 102, 102, 102;
    --gray-700: #4a4a4a;
    --gray-700-rgb: 74, 74, 74;
    --gray-800: #303030;
    --gray-800-rgb: 48, 48, 48;
    --gray-850: #262626;
    --gray-850-rgb: 38, 38, 38;
    --gray-900: #1a1a1a;
    --gray-900-rgb: 26, 26, 26;
    --green: #07BC4C;
    --green-rgb: 7, 188, 76;
    --green-deep: #1B9A59;
    --green-deep-rgb: 27, 154, 89;
    --orange: #FFAD20;
    --orange-rgb: 255, 173, 32;
    --pale-blue-green: #ECFAF5;
    --pale-blue-green-rgb: 236, 250, 245;
    --pale-green: #DCF8C6;
    --pale-green-rgb: 220, 248, 198;
    --pale-yellow: #FFF5C4;
    --pale-yellow-rgb: 255, 245, 196;
    --red: #D70000;
    --red-rgb: 215, 0, 0;
    --red-light: #F44336;
    --red-light-rgb: 244, 67, 54;
    --teal: #009688;
    --teal-rgb: 0, 150, 136;
    --teal-light: #1DE9B6;
    --teal-light-rgb: 29, 233, 182;
    --teal-lighter: #00BFA5;
    --teal-lighter-rgb: 0, 191, 165;
    --white: #fff;
    --white-rgb: 255, 255, 255;
    --yellow: #FED859;
    --yellow-rgb: 254, 216, 89;
    --active-tab-marker: #009688;
    --active-tab-marker-rgb: 0, 150, 136;
    --app-background-stripe: var(--dark) !important;
    --app-background-stripe-rgb: 38,50,56 !important;
    --audio-progress-incoming: #31c76a;
    --audio-progress-incoming-rgb: 49, 199, 106;
    --audio-progress-outgoing: #889a7b;
    --audio-progress-outgoing-rgb: 136, 154, 123;
    --audio-progress-played-incoming: #30b6f6;
    --audio-progress-played-incoming-rgb: 48, 182, 246;
    --audio-progress-played-outgoing: #2ab5eb;
    --audio-progress-played-outgoing-rgb: 42, 181, 235;
    --audio-track-incoming: #e6e6e6;
    --audio-track-incoming-rgb: 230, 230, 230;
    --audio-track-outgoing: #c6dfb2;
    --audio-track-outgoing-rgb: 198, 223, 178;
    --avatar-background: #e6e6e6;
    --avatar-background-rgb: 230, 230, 230;
    --avatar-border: #fff;
    --avatar-border-rgb: 255, 255, 255;
    --avatar-placeholder-background: #DFE5E7;
    --avatar-placeholder-background-rgb: 223, 229, 231;
    --avatar-placeholder-primary: #fff;
    --avatar-placeholder-primary-rgb: 255, 255, 255;
    --background-app: var(--dark);
    --background-app-rgb: 224, 224, 224;
    --background-default: var(--dark) !important;
    --background-default-rgb: 38,50,56 !important;
    --background-default-active: var(--darkerSlate) !important;
    --background-default-active-rgb: 235, 235, 235;
    --background-default-hover: var(--darkerSlate) !important;
    --background-default-hover-rgb: 245, 245, 245;
    --border-bubble: rgba(0,0,0,0.06);
    --border-bubble-rgb: 0, 0, 0;
    --border-default: #eeeeee;
    --border-default-rgb: 240, 240, 240;
    --border-list: var(--darkerSlate) !important;
    --border-list-rgb: 242, 242, 242;
    --border-panel: rgba(0,0,0,0.05);
    --border-panel-rgb: 0, 0, 0;
    --border-strong: #f5f5f5;
    --border-strong-rgb: 217, 217, 217;
    --border-stronger: rgba(0,0,0,0.08);
    --border-stronger-rgb: 0, 0, 0;
    --butterbar-battery-background: #fa685e;
    --butterbar-battery-background-rgb: 249.69711, 103.94798, 93.50289;
    --butterbar-battery-primary: #fff;
    --butterbar-battery-primary-rgb: 255, 255, 255;
    --butterbar-battery-secondary: #fff;
    --butterbar-battery-secondary-rgb: 255, 255, 255;
    --butterbar-connection-background: #FED859;
    --butterbar-connection-background-rgb: 254, 216, 89;
    --butterbar-default-background: #9DE1FE;
    --butterbar-default-background-rgb: 157, 225, 254;
    --butterbar-icon: rgba(255,255,255,0.9);
    --butterbar-icon-rgb: 255, 255, 255;
    --butterbar-primary: rgba(48,48,48,0.96);
    --butterbar-primary-rgb: 48, 48, 48;
    --butterbar-secondary: rgba(48,48,48,0.85);
    --butterbar-secondary-rgb: 48, 48, 48;
    --butterbar-update-background: #1DE9B6;
    --butterbar-update-background-rgb: 29, 233, 182;
    --button-alternative: #00A5F4;
    --button-alternative-rgb: 0, 165, 244;
    --button-alternative-background: #fff;
    --button-alternative-background-rgb: 255, 255, 255;
    --button-background-disabled: #e6e6e6;
    --button-background-disabled-rgb: 230, 230, 230;
    --button-bubble: rgba(0,150,136,0.7);
    --button-bubble-rgb: 0, 150, 136;
    --button-primary: #fff;
    --button-primary-rgb: 255, 255, 255;
    --button-primary-background: var(--darkerSlate) !important;
    --button-primary-background-rgb: 5.44623, 204.85377, 81.46347;
    --button-primary-background-hover: var(--dark) !important;
    --button-primary-background-hover-rgb: 5.57831, 209.82169, 83.43905;
    --button-round-background: var(--darkerSlate) !important;
    --button-round-background-rgb: 8.64769, 232.25231, 93.88923;
    --button-secondary: var(--darkerSlate) !important;
    --button-secondary-rgb: 38,50,56 !important;
    --button-secondary-background: #fff;
    --button-secondary-background-rgb: 255, 255, 255;
    --button-secondary-background-hover: #fff;
    --button-secondary-background-hover-rgb: 255, 255, 255;
    --button-secondary-hover: var(--darkerSlate);
    --button-secondary-hover-rgb: 5.44623, 204.85377, 81.46347;
    --chat-marker: #999;
    --chat-marker-rgb: 153, 153, 153;
    --chat-marker-admin: #07BC4C;
    --chat-marker-admin-rgb: 7, 188, 76;
    --chat-marker-admin-border: rgba(7,188,76,0.7);
    --chat-marker-admin-border-rgb: 7, 188, 76;
    --chat-marker-border: rgba(91,202,255,0.1);
    --chat-marker-border-rgb: 91, 201.90164, 255;
    --compose-background: var(--darkerSlate) !important;
    --compose-background-rgb: 38,50,56 !important;
    --compose-background-focused: var(--dark) !important;
    --compose-background-focused-rgb: 38,50,56 !important;
    --compose-border-focused: #ccedfd;
    --compose-border-focused-rgb: 204, 237, 253;
    --compose-panel-background: rgba(255,255,255,0.6) !important;
    --compose-panel-background-rgb: 255, 255, 255;
    --conversation-panel-background: rgba(103,111,115,0.3) !important;
    --conversation-panel-background-rgb: 103,111,115 !important;
    --conversation-panel-border: rgba(0,0,0,0.03);
    --conversation-panel-border-rgb: 0, 0, 0;
    --danger: #df3333;
    --danger-rgb: 223, 51, 51;
    --drawer-background: var(--dark) !important;
    --drawer-background-rgb: 237, 237, 237;
    --drawer-gallery-background: var(--dark) !important;
    --drawer-gallery-background-rgb: 237, 237, 237;
    --drawer-header-title: #fff !important;
    --drawer-header-title-rgb: 255, 255, 255 !important;
    --drawer-section-background: var(--dark) !important;
    --drawer-section-background-rgb: 255, 255, 255;
    --dropdown-background: var(--dark) !important;
    --dropdown-background-rgb: 255, 255, 255;
    --dropdown-background-hover: var(--darkerSlate) !important;
    --dropdown-background-hover-rgb: 245, 245, 245;
    --empty-state-background: var(--dark) !important;
    --empty-state-background-rgb: 230, 230, 230;
    --empty-state-icon: #fff;
    --empty-state-icon-rgb: 255, 255, 255;
    --focus: #00A5F4;
    --focus-rgb: 0, 165, 244;
    --focus-lighter: rgba(0,165,244,0.1);
    --focus-lighter-rgb: 0, 165, 244;
    --highlight: #009688;
    --highlight-rgb: 0, 150, 136;
    --icon: var(--white) !important;
    --icon-rgb: 255, 255, 255;
    --icon-ack: #4FC3F7;
    --icon-ack-rgb: 79, 195, 247;
    --icon-disabled: #c9c9c9;
    --icon-disabled-rgb: 201, 201, 201;
    --icon-fixed: #919191;
    --icon-fixed-rgb: 145, 145, 145;
    --icon-lighter: rgba(255,255,255,0.3) !important;
    --icon-lighter-rgb: 255, 255, 255 !important;
    --icon-search-back: var(--teal) !important;
    --icon-search-back-rgb: 51, 183, 246;
    --icon-strong: #333;
    --icon-strong-rgb: 51, 51, 51;
    --incoming-background: var(--dark) !important;
    --incoming-background-rgb: 38, 50, 56 !important;
    --incoming-background-deeper: var(--dark) !important;
    --incoming-background-deeper-rgb: 38,50,56 !important;
    --incoming-background-highlight: #ccc;
    --incoming-background-highlight-rgb: 204, 204, 204;
    --incoming-primary: #989898;
    --incoming-primary-rgb: 152, 152, 152;
    --input-border-active: #00BFA5;
    --input-border-active-rgb: 0, 191, 165;
    --input-placeholder: #999;
    --input-placeholder-rgb: 153, 153, 153;
    --intro-background: var(--dark) !important;
    --intro-background-rgb: 38,50,56;
    --intro-border: #4adf83;
    --intro-border-rgb: 74.14115, 222.85885, 130.83464;
    --inverse: #fff;
    --inverse-rgb: 255, 255, 255;
    --link: #039BE5;
    --link-rgb: 3, 155, 229;
    --live-location-footer-background: rgba(255,255,255,0.9);
    --live-location-footer-background-rgb: 255, 255, 255;
    --live-location-glow: rgba(37,211,102,0.3);
    --live-location-glow-rgb: 37, 211, 102;
    --live-location-glow-stale: rgba(255,0,31,0.3);
    --live-location-glow-stale-rgb: 255, 0, 31;
    --location-cluster-background: #fff;
    --location-cluster-background-rgb: 255, 255, 255;
    --media-editor-control: #1c313f;
    --media-editor-control-rgb: 28, 49, 63;
    --media-viewer-background: rgba(255,255,255,0.96);
    --media-viewer-background-rgb: 255, 255, 255;
    --media-viewer-button-background: #ccc;
    --media-viewer-button-background-rgb: 204, 204, 204;
    --media-viewer-button-icon: #fff;
    --media-viewer-button-icon-rgb: 255, 255, 255;
    --menu-tabs-list-active: #6cea91;
    --menu-tabs-list-active-rgb: 108.28579, 234.05421, 145.4638;
    --message-background-deep: rgba(0,0,0,0.12);
    --message-background-deep-rgb: 0, 0, 0;
    --message-placeholder-icon: rgba(48,48,48,0.3);
    --message-placeholder-icon-rgb: 48, 48, 48;
    --message-selection-highlight: rgba(0,150,136,0.08);
    --message-selection-highlight-rgb: 0, 150, 136;
    --modal-backdrop: rgba(0,0,0,0.85);
    --modal-backdrop-rgb: 255, 255, 255;
    --modal-backdrop-solid: var(--darkerSlate) !important;
    --modal-backdrop-solid-rgb: 0, 0, 0;
    --modal-background: var(--dark) !important;
    --modal-background-rgb: 38,50,56;
    --notification-biz-background: rgba(236,250,245,0.95);
    --notification-biz-background-rgb: 236, 250, 245;
    --notification-e2e-background: rgba(255,245,196,0.95);
    --notification-e2e-background-rgb: 255, 245, 196;
    --notification-e2e-icon: rgba(0,0,0,0.45);
    --notification-e2e-icon-rgb: 0, 0, 0;
    --notification-e2e-text: rgba(0,0,0,0.96);
    --notification-e2e-text-rgb: 0, 0, 0;
    --notification-text: rgba(0,0,0,0.96);
    --notification-text-rgb: 0, 0, 0;
    --outgoing-background: var(--dark) !important;
    --outgoing-background-rgb: 38,50,56;
    --outgoing-background-deeper: var(--darkerSlate) !important;
    --outgoing-background-deeper-rgb: 207, 233, 186;
    --outgoing-background-highlight: #B3CBA1;
    --outgoing-background-highlight-rgb: 179, 203, 161;
    --overlay: #000;
    --overlay-rgb: 0, 0, 0;
    --panel-background: var(--dark) !important;
    --panel-background-rgb: 38,50,56;
    --panel-background-active: var(--darkerSlate) !important;
    --panel-background-active-rgb: 38,50,56;
    --panel-background-colored: var(--dark) !important;
    --panel-background-colored-rgb: 38,50,56 !important;
    --panel-background-colored-deeper: var(--darkerSlate) !important;
    --panel-background-colored-deeper-rgb: 0, 150, 136;
    --panel-background-deep: var(--darkSlate) !important;
    --panel-background-deep-rgb: 38,50,56;
    --panel-background-deeper: var(--darkerSlate);
    --panel-background-deeper-rgb: 38,50,56;
    --panel-background-hover: var(--darkSlate);
    --panel-background-hover-rgb: 38,50,56;
    --panel-background-lighter: var(--dark) !important;
    --panel-background-lighter-rgb: 38,50,56;
    --panel-primary: rgba(0,0,0,0.35);
    --panel-primary-rgb: 0, 0, 0;
    --payment-amount: #008c7f;
    --payment-amount-rgb: 0, 139.8, 126.752;
    --payment-status-failed: #F44336;
    --payment-status-failed-rgb: 244, 67, 54;
    --payment-status-processing: rgba(0,0,0,0.45);
    --payment-status-processing-rgb: 0, 0, 0;
    --payment-status-success: #07BC4C;
    --payment-status-success-rgb: 7, 188, 76;
    --payment-status-waiting: rgba(0,0,0,0.45);
    --payment-status-waiting-rgb: 0, 0, 0;
    --photopicker-overlay-background: rgba(102,102,102,0.8);
    --photopicker-overlay-background-rgb: 102, 102, 102;
    --popup-panel-background: rgba(0,0,0,0.05);
    --popup-panel-background-rgb: 0, 0, 0;
    --primary: var(--white) !important;
    --primary-rgb: 255, 255, 255 !important;
    --primary-strong: var(--white) !important;
    --primary-strong-rgb: 255, 255, 255 !important;
    --primary-stronger: var(--white) !important;
    --primary-stronger-rgb: 255, 255, 255;
    --primary-title: var(--white) !important;
    --primary-title-rgb: 255, 255, 255, 81.65;
    --product-thumb-background: var(--dark) !important;
    --product-thumb-background-rgb: 38,50,56;
    --ptt-blue: #4FC3F7;
    --ptt-blue-rgb: 79, 195, 247;
    --ptt-button-cancel: rgba(229,57,53,0.8);
    --ptt-button-cancel-rgb: 229, 57, 53;
    --ptt-button-send: rgba(9,210,97,0.8);
    --ptt-button-send-rgb: 9, 210, 97;
    --ptt-gray: rgba(48,48,48,0.7);
    --ptt-gray-rgb: 48, 48, 48;
    --ptt-green: #09D261;
    --ptt-green-rgb: 9, 210, 97;
    --ptt-message-blue: #039BE5;
    --ptt-message-blue-rgb: 3, 155, 229;
    --quick-action-button: #fff;
    --quick-action-button-rgb: 255, 255, 255;
    --quick-action-button-background: rgba(0,0,0,0.14);
    --quick-action-button-background-rgb: 0, 0, 0;
    --rich-text-panel-background: var(--dark) !important;
    --rich-text-panel-background-rgb: 38,50,56 !important;
    --secondary: rgba(255,255,255,0.6) !important;
    --secondary-rgb: 255, 255, 255 !important;
    --secondary-light: rgba(255,255, 255, 0.25);
    --secondary-light-rgb: 255, 255, 255 !important;
    --secondary-lighter: rgba(255,255,255,0.7) !important;
    --secondary-lighter-rgb: 255, 255, 255 !important;
    --secondary-stronger: rgba(255,255,255,0.8) !important;
    --secondary-stronger-rgb: 255, 255, 255 !important;
    --shadow: #000;
    --shadow-rgb: 0, 0, 0;
    --shadow-light: rgba(0,0,0,0.08);
    --shadow-light-rgb: 0, 0, 0;
    --spinner-default: #ccc;
    --spinner-default-rgb: 204, 204, 204;
    --spinner-highlight: rgba(7,188,76,0.7);
    --spinner-highlight-rgb: 7, 188, 76;
    --spinner-incoming: #b3b3b3;
    --spinner-incoming-rgb: 179, 179, 179;
    --spinner-outgoing: #9aae8b;
    --spinner-outgoing-rgb: 154, 174, 139;
    --status-background: #000;
    --status-background-rgb: 0, 0, 0;
    --status-background-hover: #262626;
    --status-background-hover-rgb: 38, 38, 38;
    --status-primary: #fff;
    --status-primary-rgb: 255, 255, 255;
    --status-secondary: rgba(255,255,255,0.55);
    --status-secondary-rgb: 255, 255, 255;
    --status-secondary-stronger: #b3b3b3;
    --status-secondary-stronger-rgb: 179, 179, 179;
    --success: #07BC4C;
    --success-rgb: 7, 188, 76;
    --suspicious-background: rgba(244,67,54,0.8);
    --suspicious-background-rgb: 244, 67, 54;
    --system-message-background: rgba(225,245,254,0.92);
    --system-message-background-rgb: 225, 245, 254;
    --system-message-text: rgba(0,0,0,0.88);
    --system-message-text-rgb: 0, 0, 0;
    --teal-hover: #00ab97;
    --teal-hover-rgb: 0, 171, 151;
    --teal-pale: #5fb9b0;
    --teal-pale-rgb: 95, 185, 176;
    --thumb-border-active: #fff;
    --thumb-border-active-rgb: 255, 255, 255;
    --thumb-border-viewer-active: #ccc;
    --thumb-border-viewer-active-rgb: 204, 204, 204;
    --toast-background: rgba(0,0,0,0.82);
    --toast-background-rgb: 0, 0, 0;
    --tooltip-background: rgba(89,89,89,0.85);
    --tooltip-background-rgb: 89.25, 89.25, 89.25;
    --typing: #07BC4C;
    --typing-rgb: 7, 188, 76;
    --unread-background: #fff;
    --unread-background-rgb: 255, 255, 255;
    --unread-bar-background: rgba(255,255,255,0.25);
    --unread-bar-background-rgb: 255, 255, 255;
    --unread-marker-background-rgb: 5.71038, 214.78962, 85.41462;
    --unread-marker-text: #fff;
    --unread-marker-text-rgb: 255, 255, 255;
    --video-player-background: #000;
    --video-player-background-rgb: 0, 0, 0;
    --video-primary: #fff;
    --video-primary-rgb: 255, 255, 255;
    --voip-accept-background: #39d575;
    --voip-accept-background-rgb: 57, 213, 117;
    --voip-background: #262626;
    --voip-background-rgb: 38, 38, 38;
    --voip-background-deep: #000;
    --voip-background-deep-rgb: 0, 0, 0;
    --voip-primary: #fff;
    --voip-primary-rgb: 255, 255, 255;
    --voip-reject-background: #e54b40;
    --voip-reject-background-rgb: 229, 75, 64;
    --win32-title-primary: #fff;
    --win32-title-primary-rgb: 255, 255, 255;
    --focus-animation: rgba(0,165,244,0.22);
    --focus-animation-rgb: 0, 165, 244;
    --focus-animation-deeper: rgba(0,165,244,0.3);
    --focus-animation-deeper-rgb: 0, 165, 244;
    --focus-animation: rgba(0,165,244,0.22);
    --focus-animation-rgb: 0, 165, 244;
    --focus-animation-deeper: rgba(0,165,244,0.3);
    --focus-animation-deeper-rgb: 0, 165, 244;
}


._3FR9x,
.Bixbo,
.Cpiae,
._3lLzD {
    color: var(--white) !important;
}

html[dir] ._1RQfk ul li:hover div,
._2l89D ul li div {
    color: #ffffff !important;
}
/**::-webkit-scrollbar-thumb {*/
/*    color: var(--white) !important;*/
/*}*/

*::-webkit-scrollbar-track,
#startup, #initial_startup{
    background-color: var(--dark) !important;
}

html[dir=ltr] ._1i1U7.jZ4tp,
html[dir=ltr] ._1i1U7._2DNgV {
    background: linear-gradient(to right, rgba(var(--overlay), 0) 0%, rgba(var(--overlay), 1) 50%) !important;
}

/* Chat bubbles */
html[dir] .message-out ._1iJeo,
html[dir] .message-in .MVjBr,
html[dir=ltr] .bg-color-1 {
    background-color: var(--dark) !important;
}

.message-in ._1JfxZ {
    color: var(--dark) !important;
}

.message-out ._1JfxZ {
    color: var(--darkerSlate) !important;
}

html[dir] .message-out .MVjBr {
    background-color: var(--darkerSlate) !important;
}

html[dir] .message-in ._1iJeo,
html[dir] ._2KT8n ._2RBFb {
    background-color: var(--darkerSlate) !important;
}